<footer class="p-strip l-full-width">
  <div class="l-main">
    <div class="row">
      <div class="col-8">
        <p class="u-no-max-width">
          &copy; 2023 Canonical Ltd. Ubuntu and Canonical are registered
          trademarks of Canonical&nbsp;Ltd.
        </p>
        <nav>
          <ul class="p-inline-list--middot">
            <li class="p-inline-list__item">
              <a class="p-footer__link" href="https://www.ubuntu.com/legal"
                >Legal information</a
              >
            </li>
            <li class="p-inline-list__item">
              <a
                class="p-footer__link"
                href="https://www.ubuntu.com/legal/data-privacy">Data privacy</a
              >
            </li>
            <li class="p-inline-list__item">
              <a
                class="p-footer__link"
                href="https://github.com/canonical/design.ubuntu.com/issues/new/choose"
                >Report a bug on this site</a
              >
            </li>
            <li class="p-inline-list__item">
              <a href="#" class="p-footer__link js-revoke-cookie-manager"
                >Manage your tracker settings</a
              >
            </li>
          </ul>
          <span class="u-off-screen">
            <a href="#">Go to the top of the page</a>
          </span>
        </nav>
      </div>
      <div class="col-3">
        <p class="p-muted-heading">Follow us</p>
        <ul class="p-inline-list">
          <li class="p-inline-list__item">
            <a
              href="https://twitter.com/ubuntudesigners"
              class="p-icon--twitter">@ubuntudesigners on twitter</a
            >
          </li>
          <li class="p-inline-list__item">
            <a
              href="https://www.instagram.com/ubuntudesigners/"
              class="p-icon--instagram">@ubuntudesigners on instagram</a
            >
          </li>
          <li class="p-inline-list__item">
            <a
              href="https://ubuntu.com/blog/topics/design"
              class="p-icon--canonical">Web &amp; design blog</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>

<style lang="scss">
  @import "vanilla-framework";
  @include vanilla;

  .p-icon--canonical {
    @extend %social-icon;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40'%3E%3Cpath fill='%23772953' d='M20 32.735c-7.033 0-12.735-5.7-12.735-12.735 0-7.034 5.702-12.735 12.735-12.735 7.034 0 12.736 5.701 12.736 12.735 0 7.035-5.701 12.735-12.735 12.735zM40 20c0 11.046-8.954 20-20 20S0 31.045 0 20C0 8.954 8.954 0 20 0s20 8.954 20 20zM20 4.865C11.64 4.865 4.865 11.641 4.865 20c0 8.36 6.776 15.135 15.135 15.135 8.36 0 15.135-6.775 15.135-15.135 0-8.358-6.775-15.135-15.135-15.135z'/%3E%3C/svg%3E");
  }

  footer {
    border-top: 1px solid $color-mid-light;
  }
</style>
