---
import Hero from "../components/Hero.astro";
import Strip from "../components/Strip.astro";
import Separator from "../components/Separator.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Ubuntu font">
  <Hero title="Vanilla">
    <p>
      Vanilla is our lightweight, composable and open-source component library.
      It contains a responsive CSS grid, basic style for HTML elements and a
      selection of key useful patterns and utility classes that you can extend.
    </p>
    <p>
      A simple, extensible CSS framework. Backed by open-source and written in
      Sass by the Canonical Web Team.
    </p>
  </Hero>
  <Strip variation="light" isDeep>
    <div class="row">
      <div class="col-4">
        <div class="p-heading-icon">
          <div class="p-heading-icon__header is-stacked">
            <img
              src="https://res.cloudinary.com/canonical/image/fetch/f_auto,q_auto,fl_sanitize,w_96,h_96/https://assets.ubuntu.com/v1/1958451f-pictogram_lightweight01b-dark.svg"
              srcset="https://res.cloudinary.com/canonical/image/fetch/f_auto,q_auto,fl_sanitize,w_192,h_192/https://assets.ubuntu.com/v1/1958451f-pictogram_lightweight01b-dark.svg 2x"
              alt=""
              width="96"
              height="96"
              class="p-heading-icon__img"
            />
            <h2 class="p-heading-icon__title">Lightweight</h2>
          </div>
          <p>
            Vanilla contains a responsive CSS grid, basic style for HTML
            elements and a selection of key useful patterns and utility classes
            that you can extend.
          </p>
        </div>
      </div>
      <div class="col-4">
        <div class="p-heading-icon">
          <div class="p-heading-icon__header is-stacked">
            <img
              src="https://res.cloudinary.com/canonical/image/fetch/f_auto,q_auto,fl_sanitize,w_96,h_96/https://assets.ubuntu.com/v1/730b14b9-pictogram_extension01-dark.svg"
              srcset="https://res.cloudinary.com/canonical/image/fetch/f_auto,q_auto,fl_sanitize,w_192,h_192/https://assets.ubuntu.com/v1/730b14b9-pictogram_extension01-dark.svg 2x"
              alt=""
              width="96"
              height="96"
              class="p-heading-icon__img"
            />
            <h2 class="p-heading-icon__title">Composable</h2>
          </div>
          <p>
            Designed to be composable — you can include the whole framework to
            avail of all styles or you can use only what you need for your
            project.
          </p>
        </div>
      </div>
      <div class="col-4">
        <div class="p-heading-icon">
          <div class="p-heading-icon__header is-stacked">
            <img
              src="https://res.cloudinary.com/canonical/image/fetch/f_auto,q_auto,fl_sanitize,w_96,h_96/https://assets.ubuntu.com/v1/ff78e55c-pictogram_opensource01-dark.svg"
              srcset="https://res.cloudinary.com/canonical/image/fetch/f_auto,q_auto,fl_sanitize,w_192,h_192/https://assets.ubuntu.com/v1/ff78e55c-pictogram_opensource01-dark.svg 2x"
              alt=""
              width="96"
              height="96"
              class="p-heading-icon__img"
            />
            <h2 class="p-heading-icon__title">Open source</h2>
          </div>
          <p>
            Anyone can contribute to Vanilla, improve it and extend it. All the
            code is available on GitHub and is licensed under LGPLv3 by
            Canonical.
          </p>
        </div>
      </div>
    </div>
  </Strip>
  <Strip isSplitContent>
    <h2 slot="small">Documentation</h2>
    <p>
      Vanilla framework documentation contains everything you need to know to
      download, install and use it in your projects.
    </p>
    <p>
      Learn about the settings, base styles, components, utilities, layouts to
      build the sites or apps.
    </p>
    <a href="https://vanillaframework.io/docs"
      >Read Vanilla framework documentation</a
    >
  </Strip>
  <Separator />
  <Strip isSplitContent>
    <h2 slot="small">Source code</h2>
    <p>
      Anyone can contribute to Vanilla, improve it and extend it. All the code
      is available on GitHub and is licensed under LGPLv3 by Canonical.
    </p>
    <ul class="p-list--divided">
      <li class="p-list__item">
        <a href="https://github.com/canonical/vanilla-framework/"
          >Browse the source code on GitHub</a
        >
      </li>
      <li class="p-list__item">
        <a href="https://github.com/canonical/vanilla-framework/releases/latest"
          >Download latest release</a
        >
      </li>
      <li class="p-list__item">
        <a
          href="https://github.com/canonical/vanilla-framework/issues/new/choose"
          >Report a bug or propose a new feature</a
        >
      </li>
    </ul>
  </Strip>
  <Separator />
  <Strip isSplitContent>
    <h2 slot="small">Design</h2>
    <p>
      Anyone can contribute to Vanilla, improve it and extend it. All the code
      is available on GitHub and is licensed under LGPLv3 by Canonical.
    </p>
    <ul class="p-list--divided">
      <li class="p-list__item">
        <a href="https://github.com/canonical/vanilla-framework/"
          >Browse the source code on GitHub</a
        >
      </li>
      <li class="p-list__item">
        <a href="https://github.com/canonical/vanilla-framework/releases/latest"
          >Download latest release</a
        >
      </li>
      <li class="p-list__item">
        <a
          href="https://github.com/canonical/vanilla-framework/issues/new/choose"
          >Report a bug or propose a new feature</a
        >
      </li>
    </ul>
  </Strip>
</Layout>
