---
export interface Props {
  title: string;
  url: string;
  img: string;
  imgAlt?: string;
  extraClasses?: string;
}

const { title, url, img, imgAlt, extraClasses } = Astro.props;
---

<div class:list={["p-card", extraClasses]}>
  <img class="p-card__image" src={img} alt={imgAlt || ""} />
  <div class="p-card__inner">
    <h3><a href={url}>{title}</a></h3>
    <slot />
  </div>
</div>
