---
export interface Props {
  title: string;
  url?: string;
  img?: string;
  imgAlt?: string;
  extraClasses?: string;
}

const { title, url, img, imgAlt, extraClasses } = Astro.props;
---

<div class:list={["p-card", extraClasses]}>
  {img ? <img class="p-card__image" src={img} alt={imgAlt || ""} /> : null}
  <div class="p-card__inner">
    <h3>{url ? <a href={url}>{title}</a> : title}</h3>
    <slot />
  </div>
</div>
