---
import SplitContent from "./SplitContent.astro";
import Strip from "./Strip.astro";

export interface Props {
  title?: string;
}

const { title } = Astro.props;
---

<Strip variation="accent" isDeep>
  {
    title ? (
      <>
        <SplitContent>          
          <h1 class="p-heading--2" slot="small">{title}</h1>
          <slot />
        <SplitContent />
      </>
    ) : (
      <slot />
    )
  }
</Strip>
