---
import Footer from "../components/layout/Footer.astro";
import Navigation from "../components/layout/Navigation.astro";
import { ViewTransitions } from "astro:transitions";

export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      rel="icon"
      type="image/png"
      href="https://assets.ubuntu.com/v1/cb22ba5d-favicon-16x16.png"
      sizes="16x16"
    />
    <link
      rel="icon"
      type="image/png"
      href="https://assets.ubuntu.com/v1/49a1a858-favicon-32x32.png"
      sizes="32x32"
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta
      name="description"
      content="Ubuntu brand, app and web guidelines that help you create professional materials, software, sites, apps that build the Ubuntu brand."
    />
    <meta
      name="keywords"
      content="Ubuntu, Design, Brand guidelines, web guidelines, apps guidelines, colors, buttons, layout, styleguide"
    />
    <meta name="author" content="Canonical" />
    <ViewTransitions />
  </head>
  <body transition:animate="none">
    <Navigation />
    <slot />
    <Footer />
    <style lang="scss" is:global>
      // Import the framework
      @import "node_modules/vanilla-framework";

      // Include all of Vanilla Framework
      @include vanilla;
    </style>

    <script>
      import { cookiePolicy } from "@canonical/cookie-policy";

      // Initialise the cookie policy
      cookiePolicy();
    </script>
  </body>
</html>
